<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pengenalan VueJs</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{"Nilai a :" + result}}</h1>
      <!-- menampilkan hasil masukan prompt a -->
      <h2>{{"Rata - rata:" + avg}}</h2>
      <!-- menampilkan nilai rata rata = hasil / jumlah masukan-->>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          result: 0,
          avg: 0,
        },

        // Tampilkan prompt untuk masukan nilai sejumlah <= 10
        // Setiap masukan nilai dijumlahkan
        // rata - rata = hasil penjumlahan /  jumlah inputan

        methods: {
          openForm: function () {
            this.result = 0;
            let i;

            for (i = 0; this.result < 10; i++) {
              this.a = prompt("Masukan nilai a"); // Tampilkan prompt untuk masukan nilai sejumlah <= 10
              const nilai = Number(this.a); // nilai yang dimasukan ditampung dalam const nilai bertipe int
              this.result = this.result + nilai; // hasil = hasil dari yang dimasukkan
            }
            this.avg = this.result / i; // rata2 adalah hasil dari yang dimasukkan dibagi jumlah masukan
          },
        },
      });
    </script>
  </body>
</html>
