.bc{
  display: flex;
  background-color: white;
  height: 100px;
  justify-content: center;
  width: 1340px;
  flex-direction: column;
}
body{
  background-color: #0ccac4;

}
h1 {
    font-family: "Bigelow Rules";
    font-size: 70px;
    color:#0ccac4; 
    position: flex;
  }

p{
  font-family: "Bigelow Rules";
  font-size: 40px;
  color:white; 
  position: flex;
  margin-left: 20px;
}


.paragraf{
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin-left: 400px;
}
.a {
   padding: 0rem;
   margin: 1rem;
   background-color: #0ccac4;
   border: 1px solid #0ccac4;
   font-size: 10px;
  
}



img {
  width: 300px;
   margin-left: 550px;
   border: 5px solid #555;
    }
  







.bc > div{
 background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}



