<!DOCTYPE html> 
<html lang="en"> 
 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Tugas Form Input Binding</title> 
</head> 
 
<body> 
    <div id="app"> 
        <input type="text" v-model="find" placeholder="Masukkan kata kunci"> 
        <ul> 
            <li v-for="book in result (books)">{{book}}</li> 
        </ul> 
    </div> 
 
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script> 
    <script> 
        var vm = new Vue({ 
            el: '#app', 
            data: { 
                find: "", 
                books: [ 
                    'Kalkulus Dasar', 
                    'Fisika Dasar', 
                    'Aljabar Linier Elementer', 
                    'Aljabar Abstrak', 
                    'Algoritma Pemrograman' 
                ] 
            }, 
 
            methods: { 
                result : function (books) { 
                    return this.books.filter((book) => { 
                        return book.toLowerCase().match(this.find) 
                    }) 
                } 
            }, 
        }) 
    </script> 
</body> 
</html>